{% extends "gestion/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Eliminar Comentario</h1>
    <p>¿Estás seguro de que deseas eliminar este comentario?</p>
    <p><strong>{{ comentario.cliente.username }}:</strong> {{ comentario.comentario }}</p>

    <div class="button-group">
        <a href="{% url 'auto_detail' auto.pk %}" class="button">Cancelar</a>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>
{% endblock %}
