{% extends "gestion/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Perfil de Usuario</h1>
    <div class="user-info">
        <p><label>Nombre de usuario:</label> {{ user.username }}</p>
        <p><label>Email:</label> {{ user.email }}</p>
        {% if user.perfilusuario %}
            <p><label>Teléfono:</label> {{ user.perfilusuario.telefono }}</p>
            <p><label>Dirección:</label> {{ user.perfilusuario.direccion }}</p>
        {% endif %}
    </div>
    <div class="action-buttons">
        <a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a>
    </div>
</div>
{% endblock %}
